AppverseMVC/AppverseCore/bin/
AppverseMVC/AppverseCore/obj/
AppverseMVC/AppverseMVC.Tests/bin/
AppverseMVC/AppverseMVC.Tests/obj/
AppverseMVC/AppverseMVC/obj/
AppverseMVC/Localization/obj/
AppverseMVC/Localization/bin/
AppverseMVC/AppverseWebCore/obj/
AppverseMVC/AppverseWebCore/bin/
AppverseMVC/AppverseMVC/log/
AppverseMVC/AppverseMVC/bin/
