<?xml version="1.0" encoding="utf-8"?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler,Castle.Windsor" />
  </configSections>  
    <appSettings>

    </appSettings>

    <connectionStrings>
      <add name="ShowcaseConnection" connectionString="Data Source=.\sqlexpress;Initial Catalog=AppVerseMVC_test;Integrated Security=True" providerName="System.Data.SqlClient" />
      <add name="DefaultConnection" connectionString="Data Source=.\sqlexpress;Initial Catalog=appverse_users;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <castle>
    <facilities></facilities>
    <installers />
    <components>  
      <component id="LogInterceptor" service="Appverse.Core.Interceptors.LogInterceptor, Appverse.Core" type="Appverse.Core.Interceptors.LogInterceptor, Appverse.Core" lifestyle="singleton">
        <parameters>
          <LogInputParameters>true</LogInputParameters>
          <LogResult>true</LogResult>
          <LogProfiling>true</LogProfiling>
          <LogExceptions>true</LogExceptions>
        </parameters>
      </component>
      <!-- Sample of class with operations that can be cached-->
      <component id="ItemRepository" service="Appverse.Web.Repositories.IItemRepository" type="Appverse.Web.Repositories.ItemRepository" lifestyle="transient">
        <parameters>
          <pageSize>5</pageSize>
        </parameters>
        <interceptors>
          <interceptor>${LogInterceptor}</interceptor>
        </interceptors>
      </component>
    </components>
  </castle>

</configuration>
