@*Copyright (c) 2014 GFT Appverse, S.L., Sociedad Unipersonal.

    This Source Code Form is subject to the terms of the Appverse Public License
    Version 2.0 (“APL v2.0”). If a copy of the APL was not distributed with this
    file, You can obtain one at http://www.appverse.mobi/licenses/apl_v2.0.pdf. [^]

    Redistribution and use in source and binary forms, with or without modification,
    are permitted provided that the conditions of the AppVerse Public License v2.0
    are met.

    THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
    ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
    WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
    DISCLAIMED. EXCEPT IN CASE OF WILLFUL MISCONDUCT OR GROSS NEGLIGENCE, IN NO EVENT
    SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT,
    INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
    LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR
    PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
    WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT(INCLUDING NEGLIGENCE OR OTHERWISE)
    ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
    POSSIBILITY OF SUCH DAMAGE.*@

<h3>Licenses</h3>
<p>
    This document incluedes a license link for each document, utility, sample of code or library we are using in the showcase
</p>
@if (ViewBag.HelpPage.SummaryMode == false)
{
    <div class="row">
        <div class="alert alert-danger col-md-3">
            <strong>Castle Windsor:</strong> <a href="https://github.com/whut/Castle.Windsor/blob/master/License.txt" target="_blank">License</a><br />
            Copyright 2004-2011 Castle Project - http://www.castleproject.org/ <br />
            <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License</a> Version 2.0
        </div>
        <div class="alert alert-success col-md-3">
            <strong>NHibernate:</strong> <a href="https://raw.github.com/nhibernate/nhibernate-core/3.3.x/lgpl.txt" target="_blank">License</a><br />
            Copyright (C) 1991, 1999 Free Software Foundation, Inc.
            59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
        </div>
        <div class="alert alert-warning col-md-3">
            <strong>Entity Framework (EF)</strong>
            <a href="http://entityframework.codeplex.com/license" target="_blank">License</a>
            <br />
            <a href="http://www.apache.org/licenses/" target="_blank">Apache License</a> Version 2.0, January 2004<br />
            Version 2.0, January 2004
        </div>
        <div class="alert alert-info col-md-3">
            <strong>ASP.NET MVC, Web API and Web Pages</strong> <a href="http://aspnetwebstack.codeplex.com/license">License</a><br />
            <a href="http://www.apache.org/licenses/" target="_blank">Apache License</a> Version 2.0, January 2004<br />
            * <a href="http://en.wikipedia.org/wiki/ASP.NET_MVC_Framework#Apache_License_2.0_release">In March 2012</a>, the ASP.NET MVC, Web API and Web Pages source code was released under 
            the open source license Apache License 2.0.<br />
            * <a href="http://en.wikipedia.org/wiki/ASP.NET_MVC_Framework#Background">In April 2009</a>, the ASP.NET MVC source code was released under the Microsoft Public License (MS-PL).
        </div>
    </div>
    <div class="row">
        <div class="alert alert-danger col-md-3">
            <strong>WebApiTestClient</strong> <a href="https://github.com/yaohuang/WebApiTestClient/blob/master/LICENSE.md">License</a><br />
    <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License</a> Version 2.0
</div>
        <div class="alert alert-success col-md-3">
            <strong>bootstrap:</strong> <a href="https://github.com/twbs/bootstrap/blob/master/LICENSE" target="_blank">License</a><br />
            The MIT License (MIT)
            Copyright (c) 2011-2014 Twitter, Inc
        </div>
        <div class="alert alert-warning col-md-3">
            <strong>jquery:</strong> <a href="https://github.com/jquery/jquery/blob/master/MIT-LICENSE.txt" target="_blank">License</a><br />
            Copyright 2014 <a href="http://jquery.com/">jQuery Foundation</a> and other contributors<br />
            Use any jQuery project under the terms of the MIT License
        </div>
        <div class="alert alert-info col-md-3">
            <strong>ValidateHttpAntiForgeryTokenAttribute</strong>
            <a href="https://github.com/IdeaBlade/BreezeKnockoutSpaTemplateVsix/blob/master/BreezeKnockoutSpaTemplateVsix/license.txt" target="_blank">License</a>
            <br />
            Copyright 2013 IdeaBlade, Inc.<br />
            The Breeze Knockout MVC4 Single Page Application template is licensed under the <a href="http://opensource.org/licenses/mit-license.php">MIT license</a>
        </div>
    </div>
    <div class="row">
        <div class="alert alert-danger col-md-3">
            <strong>JSON2:</strong> <a href="http://code.google.com/p/freebase-site/source/browse/site/trunk/third_party/license.json2.js.js?r=3882" target="_blank">License</a><br />
            <strong>JSON3:</strong> <a href="http://kit.mit-license.org/" target="_blank">License</a>
        </div>
        <div class="alert alert-success col-md-3">
        </div>
        <div class="alert alert-warning col-md-3">
        </div>
        <div class="alert alert-info col-md-3">
        </div>
    </div>
    <p>
        <h2>Castle is free</h2>
        All projects of <a href="http://castleproject.org/" title="Castle Project" target="_blank">Castle Project</a> are available for free, no strings attached.<br><br>
        <h2>It's open</h2>Better yet - Castle Project is Open Source, under the terms of <a href="http://www.apache.org/licenses/LICENSE-2.0.html" title="Apache License 2.0" target="_blank">Apache License 2.0</a>,
        which means you are free to use it in any closed source, commercial product.<br><br>
        <h2>Fork away</h2>
        Castle's source code <a href="http://github.com/castleproject/" title="is available" target="_blank">is available</a>. You can look at it, fork it, improve, extend,
        do whatever you like with it.
        <br />
        <a href="http://docs.castleproject.org/" title="Read more here" target="_blank">Read more here</a>
    </p>


    <p>
        ValidateHttpAntiForgeryTokenAttribute class
        Original: https://github.com/IdeaBlade/BreezeKnockoutSpaTemplateVsix/blob/master/BreezeKnockoutSpaTemplateVsix/ProjectTemplates/BreezeMvcSpaProjectTemplate.cshtml/Filters/ValidateHttpAntiForgeryTokenAttribute.cs

        Copyright 2013 IdeaBlade, Inc.
        The Breeze Knockout MVC4 Single Page Application template is licensed under the MIT license (http://opensource.org/licenses/mit-license.php).



    </p>
}

