@*Copyright (c) 2014 GFT Appverse, S.L., Sociedad Unipersonal.

    This Source Code Form is subject to the terms of the Appverse Public License
    Version 2.0 (“APL v2.0”). If a copy of the APL was not distributed with this
    file, You can obtain one at http://www.appverse.mobi/licenses/apl_v2.0.pdf. [^]

    Redistribution and use in source and binary forms, with or without modification,
    are permitted provided that the conditions of the AppVerse Public License v2.0
    are met.

    THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
    ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
    WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
    DISCLAIMED. EXCEPT IN CASE OF WILLFUL MISCONDUCT OR GROSS NEGLIGENCE, IN NO EVENT
    SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT,
    INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
    LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR
    PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
    WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT(INCLUDING NEGLIGENCE OR OTHERWISE)
    ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
    POSSIBILITY OF SUCH DAMAGE.*@

@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>



<article>
    <p>
        This is a show case of Appverse Web#.
    </p>

    <p>
        The page features <mark>links, documents, tutorials, and samples</mark> to help you get the most important points covered by this showcase.
    </p>

    <p>
        If you have any questions about this showcase, visit  <a href="http://appverse.org" title="THE APPVERSE PROJECT">THE APPVERSE PROJECT</a> website.
    </p>
</article>


<div class="row">
    <div class="col-md-6">
        <header>
            <h3>Organization Address</h3>
        </header>
        <address>
            <p>
                GFT Appverse S.L., Sociedad Unipersonal<br />
                Av. de la Generalitat, 163-167<br />
                08174 Sant Cugat del Vallès<br />
                BARCELONA
            </p>
            <p>
                <abbr title="Phone">P:</abbr>
                +34 93 5659-100
            </p>
        </address>
    </div>
    <div class="col-md-6">
        <header>
            <h3>Emails</h3>
        </header>
        <address>
            <strong>Administrative:</strong>   <a href="mailto:carlos@appverse.org">Carlos Lozano Diez</a><br />
            <strong>Legal:</strong> <a href="mailto:legal@appverse.org">legal@appverse.org</a><br />
            @*<strong>Technical support:</strong> <a href="mailto:jioe@gft.com">jioe@gft.com</a><br />
            <strong>Developer:</strong> <a href="mailto:gygn@gft.com">gygn@gft.com</a>*@
        </address>
    </div>
</div>

