<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an atrribute "name" that has a value of "MyDB".
  -->
  <connectionStrings>
    <!--<add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>-->
    <add name="ShowcaseConnection"
         connectionString="Data Source=APPNET;Initial Catalog=appverseMVC;User Id=appverse_sql;Password=appverseSQL"
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    <add name="MembershipConnection"
         connectionString="Data Source=APPNET;Initial Catalog=appverse_users;User Id=appverse_sql;Password=appverseSQL"
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="MicrosoftClientId"
      value="000000004C10171B"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="MicrosoftClientSecret"
      value="TjIaqB1OvUZd1BaYqijr0u8jE6uRt4eQ"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="Mvc4link"
      value="/AppverseMVC4_AD"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="Mvc5link"
      value="/AppverseMVC5_SSO"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>